
#bg-color-container {
    display: flex;
    flex-direction: row;
}

body {
    margin: 50px;
}

.colorBtn {
    min-width: 50px;
    min-height: 50px;
    margin: 10px;
}

#bg-lightBlue {
    background-color: lightblue;
}

#bg-black {
    background-color: black;
}

#bg-grey {
    background-color: grey;
}
